<footer class="container-fluid">
    @if(!isPhone && !isTablet){
        <section class="footer">
            <div class="top-section">
                <div class="footer-logo">
                    <img src="./../../../assets/images/logo/footer-logo.png" alt="Dota logo">
                </div>
                <div class="footer-links">
                    <ul>
                      <li class="link">
                        <a (click)="goToInfo('support')" class="no-link-style">Pomoć i podrška</a>
                      </li>
                      <li class="link">
                        <a (click)="goToInfo('return')" class="no-link-style">Povraćaji</a>
                      </li>
                      <li class="link">
                        <a (click)="goToInfo('delivery')" class="no-link-style">Dostava i plaćanja</a>
                      </li>
                        <li (click)="openContact()" class="link">Kontakt</li>
                    </ul>
                </div>
                <div class="email-title">
                    <h1>Pošaljite nam svoj mejl kako biste bili u korak sa novostima!</h1>
                </div>
            </div>
            <div class="middle-section">
                <div class="email-input-container">
                    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                        <input type="email" id="emailInput" formControlName="userEmail" placeholder="Tvoj e-mail" (keydown.enter)="sendEmail()">
                        <span id="sendText" (click)="sendEmail()">Pošalji</span>
                    </form>
                </div>
            </div>
            <div class="bottom-section">
              <a href="https://www.instagram.com/dotabags/" target="_blank"><img class="icon" src="./assets/images/icons/instagram.svg" alt="Instagram"></a>
              <a href="https://www.tiktok.com/@dotabags" target="_blank"><img class="icon" src="./assets/images/icons/tiktok.svg" alt="Tiktok"></a>
              <h3 class="policy">Uslovi i politika</h3>
            </div>
        </section>
    } @else {
        <section class="footer">
            <div class="email-title-sm">
                <h1>Pošaljite nam svoj mejl kako biste bili u korak sa novostima!</h1>
            </div>
            <div class="middle-section-sm">
                <div class="email-input-container">
                    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                        <input type="email" id="emailInput" formControlName="userEmail" placeholder="Tvoj e-mail" (keydown.enter)="sendEmail()">
                        <span id="sendText" (click)="sendEmail()">Pošalji</span>
                    </form>
                </div>
            </div>
            <div class="footer-links-sm">
                <ul>
                  <li class="link">
                    <a (click)="goToInfo('support')" class="no-link-style">Pomoć i podrška</a>
                  </li>
                  <li class="link">
                    <a (click)="goToInfo('return')" class="no-link-style">Povraćaji</a>
                  </li>
                  <li class="link">
                    <a (click)="goToInfo('delivery')" class="no-link-style">Dostava i plaćanja</a>
                  </li>
                  <li (click)="openContact()" class="link">Kontakt</li>
                </ul>
            </div>

            <div class="bottom-section">
                <div class="icons">
                  <a href="https://www.instagram.com/dotabags/" target="_blank"><img class="icon" src="./assets/images/icons/instagram.svg" alt="Instagram"></a>
                  <a href="https://www.tiktok.com/@dotabags" target="_blank"><img class="icon" src="./assets/images/icons/tiktok.svg" alt="Tiktok"></a>
                </div>
                <div class="footer-logo">
                    <img src="./../../../assets/images/logo/footer-logo.png" alt="Dota logo">
                </div>
            </div>
        </section>
    }
</footer>
