.shopping-cart {
    margin: 150px 0 100px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.cart-table {
    min-width: 70%;
    max-width: 70%;
    max-height: 80vh;
    overflow-y: scroll;
}

.cart-item{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.603);
    padding-bottom: 10px;
}

.no-items-in-cart {
    min-height: 40vh;
    max-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .no-items-text {
        margin: 10px 0 10px 15px;
        color: #000C22;
        font-family: 'Mulish', 'sans-serif';
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
    }
}

.cart-item-product{
    position: relative; 
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.603);
    padding: 20px 0;

    .remove-item {
        position: absolute;
        left: -20px;
        top: 40%;
        font-size: 30px;
    }

    .cart-item-details {
        display: flex;
        flex-direction: row;
        
        .cart-item-image {
            width: 120px;
            height: fit-content;
            img {
                width: 100%;
            }
        }

        .product-detail {
            display: flex;
            flex-direction: column;
            
            .bag-type {
                padding: 0;
                margin: 10px 0 10px 15px;
                color: #000C22;
                font-family: 'Mulish', 'sans-serif';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
            
            .bag-name {
                padding: 0;
                margin: 0 0 0 15px;
                color: #000C22;
                font-family: 'Mulish', 'sans-serif';
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
            }
            
            .color-box {
                padding: 0;
                margin: 10px 0 0 17px;
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                border-radius: 3px;
                background-color: black;
            }
        }
    }

    .cart-item-number {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .item-number {
            margin: 0 20px;
            font-family: 'Mulish', 'sans-serif';
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: center;
        }
    }

    .cart-item-price {
        .price {
            font-family: 'Mulish', 'sans-serif';
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: right;
        }

        .value {
            color: #000c227a;           
            font-family: 'Mulish', 'sans-serif';
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: left;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
    }
}
  
  
.first {
    flex: 0 0 60%;
}
  
.second,
.third {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #000c227a;
    font-family: 'Mulish', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.confirm-order {
    min-width: 25%;
    max-width: 25%;
    height: fit-content;

    .confirm-order-section {
        background-color: #F9F9F9;
        padding: 20px;
        .total {
            margin: 0;
            font-family: 'Mulish', 'sans-serif';
            font-size: 36px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: left;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(128, 128, 128, 0.603);
        }

        .total-price {
            min-height: 15vh;
            .price {
                font-family: 'Mulish', 'sans-serif';
                font-size: 36px;
                font-weight: 500;
                letter-spacing: 0px;
                text-align: right;
            }

            .value {
                color: #000c227a;           
                font-family: 'Mulish', 'sans-serif';
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0px;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
        }

        .delivery-fee {
            font-family: 'Mulish', 'sans-serif';
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0px;
            text-align: left;
            text-transform: uppercase;
        }

        .add-to-bag-button {
            margin-top: 10px;
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background-color: #FF8438;
            border-radius: 30px;

            span {
              margin-left: 15px;
              color: #FFF;
              font-family: 'Mulish', 'sans-serif';
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }

            svg {
                margin-right: 15px;
            }
          }
    }
    
}

.icon-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .delivery-time {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        margin-left: 10px;
        color: #000C22;
        font-family: 'Mulish', 'sans-serif';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    .delivery-price {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        margin-left: 10px;
        color: #000C22;
        font-family: 'Mulish', 'sans-serif';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (min-width: 768px ) and (max-width: 1200px)  { 
    .cart-table {
        min-width: 62% !important;
        max-width: 62% !important;
    }

    .confirm-order {
        min-width: 35% !important;
        max-width: 35% !important;
    
        .confirm-order-section {
            .total {
                font-size: 28px !important;
            }
    
            .total-price {
                .price {
                    font-size: 28px !important;
                }
    
                .value {
                    font-size: 14px !important;
                }
            }
    
            .delivery-fee {
                font-size: 12px !important;
            }
    
            .add-to-bag-button {
                padding: 10px 0 !important;
    
                span {
                  margin-left: 15px !important;
                  font-size: 14px !important;
                }
    
                svg {
                    margin-right: 15px !important;
                }
              }
        }
        
    }

    .icon-info { 
        .delivery-time {   
          span {
            margin-left: 10px;
            font-size: 10px !important;
          }
        }
    
        .delivery-price {
          span {
            font-size: 10px !important;
          }
        }
    }

    .no-items-in-cart { 
        .no-items-text {
            font-size: 18px !important;
        }
    }
    
    .cart-item-product{
        padding: 15px 0;
    
        .remove-item {
            position: absolute;
            left: -20px;
            top: 40%;
            font-size: 30px;
        }
    
        .cart-item-details {
            
            .cart-item-image {
                width: 80px !important;
            }
    
            .product-detail {
                
                .bag-type {
                    margin: 5px 0 5px 10px !important;
                    font-size: 12px !important;
                }
                
                .bag-name {
                    margin: 0 0 0 10px !important;
                    font-size: 18px !important;
                }
                
                .color-box {
                    margin: 10px 0 0 10px !important;
                    width: 12px !important;
                    height: 12px !important;
                }
            }
        }
    
        .cart-item-number {
            .item-number {
                margin: 0 10px !important;
                font-size: 14px !important;
            }

            svg {
                width: 20px !important;
                height: 20px !important;

                image {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
    
        .cart-item-price {
            .price {
                font-size: 20px !important;
            }
    
            .value {
                font-size: 12px !important;
            }
        }
    }
  }

  @media screen and (min-width: 481px) and (max-width: 767px )  { 
    .flex {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .cart-table {
        min-width: 100% !important;
        max-width: 100% !important;
        max-height: fit-content;
    }

    .confirm-order {
        margin-top: 20px;
        min-width: 100% !important;
        max-width: 100% !important;
    
        .confirm-order-section {
            .total {
                font-size: 30px !important;
            }
    
            .total-price {
                .price {
                    font-size: 30px !important;
                }
    
                .value {
                    font-size: 14px !important;
                }
            }
    
            .delivery-fee {
                font-size: 14px !important;
            }
    
            .add-to-bag-button {
                padding: 12px 0 !important;
    
                span {
                  margin-left: 15px !important;
                  font-size: 16px !important;
                }
    
                svg {
                    margin-right: 15px !important;
                }
              }
        }
        
    }

    .no-items-in-cart { 
        .no-items-text {
            font-size: 17px !important;
        }
    }
    
    .cart-item-product{
        padding: 15px 0;
    
        .remove-item {
            position: absolute;
            left: -20px;
            top: 40%;
            font-size: 30px;
        }
    
        .cart-item-details {
            
            .cart-item-image {
                width: 80px !important;
            }
    
            .product-detail {
                
                .bag-type {
                    margin: 5px 0 5px 10px !important;
                    font-size: 12px !important;
                }
                
                .bag-name {
                    margin: 0 0 0 10px !important;
                    font-size: 18px !important;
                }
                
                .color-box {
                    margin: 10px 0 0 10px !important;
                    width: 12px !important;
                    height: 12px !important;
                }
            }
        }
    
        .cart-item-number {
            .item-number {
                margin: 0 10px !important;
                font-size: 14px !important;
            }

            svg {
                width: 20px !important;
                height: 20px !important;

                image {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
    
        .cart-item-price {
            .price {
                font-size: 20px !important;
            }
    
            .value {
                font-size: 12px !important;
            }
        }
    }

    .icon-info { 
        .delivery-time {   
          span {
            margin-left: 10px;
            font-size: 14px !important;
          }
        }
    
        .delivery-price {
          span {
            font-size: 14px !important;
          }
        }
    }

  }

  @media screen and (max-width: 480px) { 
    .first {
        flex: 0 0 50% !important;
    }
      
    .second,
    .third {
        flex: 0 0 25% !important;
    }

    .flex {
        flex-direction: column !important;
        justify-content: center !important;
    }

    .cart-table {
        min-width: 100% !important;
        max-width: 100% !important;
        max-height: fit-content;
        overflow-x: hidden;
    }

    .confirm-order {
        margin-top: 20px;
        min-width: 100% !important;
        max-width: 100% !important;
    
        .confirm-order-section {
            .total {
                font-size: 30px !important;
            }
    
            .total-price {
                .price {
                    font-size: 30px !important;
                }
    
                .value {
                    font-size: 14px !important;
                }
            }
    
            .delivery-fee {
                font-size: 14px !important;
            }
    
            .add-to-bag-button {
                padding: 12px 0 !important;
    
                span {
                  margin-left: 15px !important;
                  font-size: 16px !important;
                }
    
                svg {
                    margin-right: 15px !important;
                }
              }
        }
        
    }

    .no-items-in-cart { 
        .no-items-text {
            font-size: 14px !important;
        }
    }
    
    .cart-item-product{
        padding: 15px 0;
    
        .remove-item {
            position: absolute;
            left: -20px;
            top: 40%;
            font-size: 30px;
        }
    
        .cart-item-details {
            
            .cart-item-image {
                width: 70px !important;
                img {
                    min-width: 100% !important;
                    width: 100% !important;
                }
            }
    
            .product-detail {
                
                .bag-type {
                    margin: 5px 0 3px 6px !important;
                    font-size: 10px !important;
                }
                
                .bag-name {
                    margin: 0 0 0 6px !important;
                    font-size: 12px !important;
                }
                
                .color-box {
                    margin: 6px 0 0 6px !important;
                    width: 10px !important;
                    height: 10px !important;
                }
            }
        }
    
        .cart-item-number {
            .item-number {
                margin: 0 10px !important;
                font-size: 14px !important;
            }

            svg {
                width: 20px !important;
                height: 20px !important;

                image {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
    
        .cart-item-price {
            .price {
                font-size: 16px !important;
            }
    
            .value {
                font-size: 10px !important;
            }
        }
    }

    .icon-info { 
        .delivery-time {   
          span {
            margin-left: 10px;
            font-size: 14px !important;
          }
        }
    
        .delivery-price {
          span {
            font-size: 14px !important;
          }
        }
    }

  }
  