<section class="conteiner-fluid contact">
    <div class="form">
        <h1>Kontaktirajte nas</h1>
        <div class="flex">
            <form action="">
                <input class="custom-input" type="text" placeholder="Ime i prezime">
                <input class="custom-input" type="text" placeholder="E-mail">
                <input class="custom-input" type="text" placeholder="Telefon">
                <textarea class="custom-textarea" placeholder="Poruka"></textarea>
                <div class="add-to-bag-button">
                    <span>Pošalji</span>
                </div>
            </form>
            <div class="info">
                <p>info dota.rs</p>
                <hr>
                <p>Instagram</p>
                <p>Tiktok</p>
            </div>
        </div>
        
    </div>
</section>
