.product {
    display: flex;
    padding-top: 120px;
    padding-bottom: 100px;

    gallery {
        width: 60%;
        max-width: 60%;
        min-width: 60%;
    }

    .product-details {
        width: 40%;
        padding: 20px;
        background-color: #F9F9F9;
        border: 1px solid rgba(128, 128, 128, 0.253);

        .type {
          margin: 0;
            color: #9D9D9D;
            font-family: 'Mulish', 'sans-serif';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }

        .name {
            color: #000C22;
            font-family: 'Mulish', 'sans-serif';
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
        }

        .product-price {
            .price {
              color: #000C22;
              font-family: 'Mulish', 'sans-serif';
              font-size: 30px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
        
            .value {
              color: #000c229d;
              font-family: 'Mulish', 'sans-serif';
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              text-transform: uppercase;
            }
          }

        .about {
          h5 {
            margin: 10px 0;
            color: #000C22;
            font-family: 'Mulish', 'sans-serif';
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            text-transform: uppercase;
          }

          p{
            margin: 10px 0;
            color: #000C22;
            text-align: right;
            font-family: 'Mulish', 'sans-serif';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
          }

          .color {
            display: flex;
            flex-direction: row;
            justify-content: space-between;       
          }

          .size {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }

        .add-to-bag {
          margin-top: 20px;
          width: 100%;
          span {
            color: #757474;
            font-family: 'Mulish', 'sans-serif';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-transform: lowercase;
          }

          .add-to-bag-button {
            margin-top: 10px;
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #FF8438;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.5s;

            span {
              margin-left: 10px;
              color: #FFF;
              font-family: 'Mulish', 'sans-serif';
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }

            &:hover {
              background-color: #904c9c;
            }
          }

          .out-of-stock {
            margin-top: 10px;
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #aaaaaa;
            border-radius: 30px;
        
            span {
              margin-left: 10px;
              color: #000000;
              font-family: 'Mulish', 'sans-serif';
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
        }
          
        }

        .icon-info {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-around;

          .delivery-time {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
              margin-left: 10px;
              color: #000C22;
              font-family: 'Mulish', 'sans-serif';
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }

          .delivery-price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
              margin-left: 10px;
              color: #000C22;
              font-family: 'Mulish', 'sans-serif';
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
          }
        }
    }
}

.line {
  border: 1px solid #EEE;
  font-size: 12px;
}

.other-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;

  .products {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-item {
      flex-basis: calc(33% - 20px);
      height: 50%;
      margin-bottom: 20px;
    }

    .show-more {
      flex-basis: calc(33% - 22px);
      height: 50%;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 5s;
      cursor: pointer;

      .show-more-text {
        color: #000C22;
        font-family: 'Mulish', 'sans-serif';
        font-size: 28px;
        margin: 20px 0 0 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }

      .show-more-button {
        color: #000C22;
        font-family: 'Mulish', 'sans-serif';
        font-size: 18px;
        margin: 20px 0 0 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }

      &:hover {
        animation: colorChange 5s infinite alternate;
      }
    }
  }


  .vibe-image {
    display: flex;
    justify-content: space-around;
    width: 40%;
    max-width: 40%;
    min-width: 40%;

    img {
      width: 90%;
    }
  }

}

.other-products-scroll {
  display: none;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  min-height: max-content;
  overflow-y: hidden;
  margin-bottom: 20px;

  .products-scroll {
    width: max-content;
    min-height: max-content;
    display: flex;
    justify-content: space-between;

    .product-item {
      width: 250px;
      height: auto;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

@keyframes colorChange {
  0%{
    background: rgba(255, 255, 255, 0.4);
  }
  20% {
    background-color: #904c9c46; /* Početna boja */
  }
  40% {
    background-color: #d051e646; /* Početna boja */
  }
  60% {
    background-color: #ff843846; /* Srednja boja */
  }
  80% {
    background-color: #d051e646; /* Početna boja */
  }
  100% {
    background-color: #904c9c46; /* Krajnja boja */
  }
}

@media screen and (min-width: 884px ) and (max-width: 1200px)  { 
  .product {
    flex-direction: column;

    gallery {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .product-details {
        width: 90% !important;    
        padding: 5%;

        .type {
          font-size: 18px;
        }

        .name {
          font-size: 36px;
        }

        .product-price {
            .price {
              font-size: 30px;
            }
        
            .value {
              font-size: 16px;
            }
          }

        .about {
          h5 {
            margin: 10px 0;
            font-size: 20px;
          }

          p{
            margin: 10px 0;
            font-size: 18px;
          }
        }

        .add-to-bag {
          margin-top: 20px;
          width: 100%;
          span {
            font-size: 14px;
          }

          .add-to-bag-button {
            margin-top: 10px;
            padding: 10px 0;
            width: 100%;
            border-radius: 30px;

            span {
              margin-left: 10px;
              font-size: 16px;
            }
          }
          
        }

        .icon-info {

          .delivery-time {

            span {
              margin-left: 10px;
              font-size: 14px;
            }
          }

          .delivery-price {

            span {
              margin-left: 10px;
              font-size: 14px;
            }
          }
        }
    }
}

 .other-products {
  display: none;
 }

 .other-products-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    min-height: max-content;
    overflow-y: hidden;
    margin-bottom: 20px;

    .products-scroll {
      width: max-content;
      min-height: max-content;
      display: flex;
      justify-content: space-between;

      .product-item {
        width: 250px;
        height: auto;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (min-width: 481px ) and (max-width: 883px)  { 
  .product {
    flex-direction: column;

    gallery {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .product-details {
        width: 90% !important;    
        padding: 5%;

        .type {
          font-size: 18px;
        }

        .name {
          font-size: 36px;
        }

        .product-price {
            .price {
              font-size: 30px;
            }
        
            .value {
              font-size: 16px;
            }
          }

        .about {
          h5 {
            margin: 10px 0;
            font-size: 20px;
          }

          p{
            margin: 10px 0;
            font-size: 18px;
          }
        }

        .add-to-bag {
          margin-top: 20px;
          width: 100%;
          span {
            font-size: 14px;
          }

          .add-to-bag-button {
            margin-top: 10px;
            padding: 10px 0;
            width: 100%;
            border-radius: 30px;

            span {
              margin-left: 10px;
              font-size: 16px;
            }
          }
          
        }

        .icon-info {

          .delivery-time {

            span {
              margin-left: 10px;
              font-size: 14px;
            }
          }

          .delivery-price {

            span {
              margin-left: 10px;
              font-size: 14px;
            }
          }
        }
    }
  }

  .other-products {
    display: none;
  }

  .other-products-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    min-height: max-content;
    overflow-y: hidden;
    margin-bottom: 20px;

    .products-scroll {
      width: max-content;
      min-height: max-content;
      display: flex;
      justify-content: space-between;

      .product-item {
        width: 160px;
        height: auto;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 481px ) {
  .product {
    flex-direction: column;

    gallery {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .product-details {
        width: 90% !important;    
        padding: 5%;

        .type {
          font-size: 16px;
        }

        .name {
          font-size: 32px;
          margin-top: 10px !important;
        }

        .product-price {
            display: flex;
            justify-content: end;
            .price {
              font-size: 30px;
            }
        
            .value {
              font-size: 16px;
            }
          }

        .about {
          h5 {
            margin: 5px 0;
            font-size: 18px;
          }

          p{
            margin: 5px 0;
            font-size: 16px;
          }
        }

        .add-to-bag {
          margin-top: 20px;
          width: 100%;
          span {
            font-size: 14px;
          }

          .add-to-bag-button {
            margin-top: 10px;
            padding: 10px 0;
            width: 100%;
            border-radius: 30px;

            span {
              margin-left: 10px;
              font-size: 16px;
            }
          }
          
        }

        .icon-info {

          .delivery-time {

            img {
              width: 35px;
            }

            span {
              margin-left: 5px;
              font-size: 10px;
            }
          }

          .delivery-price {

            img {
              width: 35px;
            }


            span {
              margin-left: 5px;
              font-size: 10px;
            }
          }
        }
    }
  }

  .other-products {
    display: none;
  }

  .other-products-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    min-height: max-content;
    overflow-y: hidden;
    margin-bottom: 20px;

    .products-scroll {
      width: max-content;
      min-height: max-content;
      display: flex;
      justify-content: space-between;

      .product-item {
        width: 150px;
        height: auto;
        margin-right: 20px;
      }
    }
  }
}

