.products {
    padding-top: 120px;
    padding-bottom: 100px;
    height: fit-content;
    overflow-x: hidden;
}

.products-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
    height: fit-content;
  }
  
  .product-item {
    flex-basis: calc(25% - 20px); /* Prilagodba prostora između elemenata */
    margin-bottom: 20px; /* Prostor ispod elemenata */
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

 /* DROPDOWN */
details {
    position: relative;
    width: 300px;
}

details[open] {
    z-index: 1;
}

summary {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

ul {
    width: 100%;
    background: #ddd;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

li:first-child {
    padding-top: 0;
}

li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

summary.radios:before {
    content: var(--selection);
}

input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

input[type=radio]:checked {
    display: inline;
    --display: block;
}

input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: 16px !important;
}

ul.list {
    list-style: none;
    counter-reset: labels;
}

label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}

.search {
    width: 300px;
    padding: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e7e6e6;
    list-style: none;
    font-size: 16px;
    border: none;
}

.empty-message {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
  
  @media screen and (max-width: 1200px) {
    .product-item {
      flex-basis: calc(25% - 20px);
    }
  }
  
  @media screen and (max-width: 800px) {
    .product-item {
        flex-basis: calc(33.333% - 20px);
    }
    .search {
        width: 250px !important;
        font-size: 12px !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    .product-item {
        flex-basis: calc(50% - 20px);
    }

    details {
        position: relative;
        width: 150px;
        font-size: 12px !important;
    }

    input[type=radio]:after {
        font-size: 12px !important;
    }

    .search {
        width: 130px !important;
        font-size: 12px !important;
    }

  }

  @media screen and (max-width: 400px) {
    .product-item {
        flex-basis: calc(50% - 20px);
    }

    details {
        position: relative;
        width: 120px;
        font-size: 10px !important;
    }

    input[type=radio]:after {
        font-size: 12px !important;
    }

    .search {
        width: 130px !important;
        font-size: 12px !important;
    }

    summary {
        padding: 0.8rem !important;
    }

  }