<dota-loading></dota-loading>
<section class="container-fluid products">
  <h1 class="main-title">PROIZVODI</h1>
  <div class="header">
    <input class="search" type="text" placeholder="Pretraži" (input)="filterProducts($event)">
    <details id="dropdown" class="custom-select">
      <summary class="radios">
        <input type="radio" name="item" id="default" title="SORTIRAJ" checked (change)="sortProducts('default')">
        <input type="radio" name="item" id="Asc" title="Po ceni rastuće" (change)="sortProducts('asc')">
        <input type="radio" name="item" id="Desc" title="Po ceni opadajuće" (change)="sortProducts('desc')">
      </summary>
      <ul class="list">
        <li>
          <label for="Asc">Po ceni rastuće</label>
        </li>
        <li>
          <label for="Desc">Po ceni opadajuće</label>
        </li>
      </ul>
    </details>
  </div>
  <section class="products-container">
    @for (item of sortedList; track $index) {
      <dota-product (click)="openProductDetails(item)" class="product-item" [product]="item"></dota-product>
    } @empty {
      <div class="empty-message">
        <h3>Nemamo trazeni proizvod!</h3>
      </div>
    }
  </section>
  <div class="load-more-trigger"></div>
</section>
