<dota-loading></dota-loading>
<section class="container-fluid order-message">
  <img style="margin: 30px 0;" src="./assets/images/logo/logo.svg" alt="logo">
  <hr>
  <section class="content">
    <div class="info-container">

      <p class="message" *ngIf="type === 'return'">
        <strong>ZAMENA I POVRAT ROBE</strong>
        <br>
        Zamena i povrati se vrši isključivo u vašem trošku poštarine, osim ako je naš propust. U tom slučaju imate rok 3 dana da prijavite propust, a poštarina je u našem trošku.
        <br><br>
        <strong>ZAMENA ZA DRUGI MODEL</strong>
        <br>
        Ukoliko iz bilo kog razloga želite da zamenite DOTA BAGS narudžbinu, imate mogućnost da je zamenite u roku od 14 dana. Molimo vas da proizvode koje želite da vratite pošaljete u originalnom stanju (bez vidljivih tragova korišćenja ili oštećenja), kao i u ambalaži u kojoj ste ih primili.
        <br><br>
        <strong>POVRAT PROIZVODA</strong>
        <br>
        Ukoliko iz bilo kog razloga niste zadovoljni svojom DOTA BAGS narudžbom, imate mogućnost da je vratite u roku od 14 dana. Molimo vas da proizvode koje želite da vratite pošaljete u originalnom stanju (bez vidljivih tragova korišćenja ili oštećenja).
      </p>

      <p class="message" *ngIf="type === 'payment'">
        <strong>NAČINI PLAĆANJA</strong>
        <br><br>
        - Plaćanje se vrši pouzećem, u gotovini prilikom isporuke.
        <br>
        - Ako je paket namenjen kao poklon, postoji mogućnost uplate unapred kako primalac ne bi imao dodatne troškove prilikom preuzimanja. U tom slučaju, molimo vas da nas kontaktirate putem našeg call centra ili Instagram naloga.
      </p>

      <p class="message" *ngIf="type === 'delivery'">
        <strong>VREME OBRADE PORUDŽBINE</strong>
        <br><br>
        Standardno vreme isporuke za većinu naših proizvoda obično iznosi između 2 do 3 radna dana od trenutka kada je porudžbina izvršena. Molimo vas da imate razumevanja ukoliko dođe do mogućih kašnjenja u isporuci usled promena u radu kurirskih službi ili tokom prazničnih dana.
        <br><br>
        Paketi koji se šalju unutar Srbije koriste usluge naših partnerskih kurirskih službi, a očekivani rok isporuke je 24 do 48 sati. Isporuka je besplatna za porudžbine preko 10.000 RSD, dok se za porudžbine ispod tog iznosa naplaćuje trošak isporuke u iznosu od 350 do 450 dinara.
        <br><br>
        Takođe, obaveštavamo vas da naše kurirske službe nude opciju paketomata u većim gradovima. Ako znate da nećete biti kod kuće prilikom dostave, možete obavestiti kurira da vam paket ostavi u najbližem paketomatu, odakle ga možete preuzeti kada vama odgovara.
      </p>

      <p class="message" *ngIf="type === 'support'">
        <strong>POMOĆ I PODRŠKA</strong>
        <br><br>
        Dobrodošli u naš odeljak za pomoć i podršku! Ovde ćete pronaći sve informacije koje vam mogu pomoći da rešite probleme i odgovore na vaša pitanja.
        <br><br>
        1. Česta Pitanja
        <br>
        U ovom odeljku možete pronaći odgovore na najčešće postavljana pitanja, uključujući:<br>
        - Kako da naručim?<br>
        - Koje su opcije plaćanja?<br>
        - Kako mogu da pratim svoju porudžbinu?<br>
        - Šta da radim ako je moja porudžbina oštećena ili nije ispravna?<br>
        - Kako da vratim robu?
        <br><br>
        2. Kontaktirajte Nas
        <br>
        Ako ne možete pronaći odgovor na svoje pitanje, slobodno nas kontaktirajte:<br>
        - Instagram: <a href="https://www.instagram.com/dotabags" target="_blank" class="instagram-link"> &#64;Dota</a><br>
        - Telefon: <a href="tel:+381111234567">+381 11 123 4567</a> (Radno vreme: 10:00 - 18:00)<br>
        - Email: <a href="mailto:support@dota.com" class="email-link">support&#64;dota.com</a><br>
        - Kontakt forma: <a href="/contact" class="form-link">Posetite stranicu za kontakt</a>
        <br><br>
        3. Tehnička Pomoć
        <br>
        Ako imate problema sa našim proizvodima ili uslugama, obratite se našem tehničkom timu. Rado ćemo vam pomoći sa svim pitanjima vezanim za upotrebu ili rešavanje problema.
        <br><br>
        4. Vreme Odgovora
        <br>
        Trudimo se da na vaša pitanja odgovorimo u što kraćem roku. U zavisnosti od obima upita, odgovor može potrajati do 48 sati.
        <br><br>
        5. Povratne Informacije
        <br>
        Vaše mišljenje nam je važno! Ako imate sugestije o tome kako možemo poboljšati našu uslugu, molimo vas da ih podelite sa nama putem Instagram i emaila.
        <br><br>
        6. Pratite nas
        <br>
        Pratite nas na društvenim mrežama za najnovije vesti, ažuriranja i promocije! Vaša podrška nam mnogo znači, i radujemo se što ćemo vas ponovo videti!
      </p>

      <p class="message" *ngIf="type !== 'support' && type !== 'delivery' && type !== 'return' && type !== 'payment'">
        Nije pronađena tražena informacija. Molimo vas da proverite link.
      </p>
    </div>
    <button (click)="goToShop()" class="button go-back">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
        <path d="M17 6L2 6" stroke="#000000" stroke-width="1.5"/>
        <path d="M7 11L2 6L7 1" stroke="#000000" stroke-width="1.5"/>
      </svg>
      <span>Nazad na pocetnu</span>
    </button>
  </section>
</section>
