<section class="product">
    <div class="product-image">
        <img [src]="displayImage" alt="Dota product">
    </div>
    <div class="product-details">
        <div class="product-main-details">
            <p class="bag-type">{{ type }}</p>
            <h3 class="bag-name">{{ name }}</h3>
            <div class="color-box"></div>
        </div>
        <div class="product-price">
            <span class="price">{{ price }}</span>
            <span class="value">RSD</span>
        </div>
    </div>
</section>