<section class="product">
    <div class="product-image">
        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota product">
    </div>
    <div class="product-details">
        <div class="product-main-details">
            <p class="bag-type">mini bag</p>
            <h3 class="bag-name">HALFMOON</h3>
            <div class="color-box"></div>
        </div>
        <div class="product-price">
            <span class="price">2000</span>
            <span class="value">RSD</span>
        </div>
    </div>
</section>