:host {
  display: block;
}

.product {
  display: relative;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-image {
  position: relative;
  height: 80%;
  max-height: 80%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

}

.product-details {
  position: relative;
  height: 20%;
  min-height: 20%;
  width: 100%;
  opacity: 0.8;
  background: #ffffffd0;

  .product-main-details {
    display: flex;
    flex-direction: column;

    .bag-type {
      padding: 0;
      margin: 10px 0 0 15px;
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .bag-name {
      padding: 0;
      margin: 0 0 0 15px;
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    .color-box {
      padding: 0;
      margin: 10px 0 0 17px;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      border-radius: 3px;
      background-color: black;
    }

  }

  .product-price {
    position: absolute;
    bottom: 10px;
    right: 10px;

    .price {
      color: #000C22;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .value {
      color: #000c229d;
      font-family: 'Mulish', 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 1201px ) and (max-width: 1500px)  {
  
  .product-details {
    .product-main-details {

      .bag-type {
        font-size: 14px !important;
      }
  
      .bag-name {
        font-size: 18px !important;
      }
  
      .color-box {
        width: 12px !important;
        height: 12px !important;
      }
  
    }
  
    .product-price {
      bottom: 5px !important;
      right: 5px !important;
  
      .price {
        font-size: 24px !important;
      }
  
      .value {
        font-size: 18px !important;
      }
    }
  }

}

@media screen and (min-width: 884px ) and (max-width: 1200px)  {
  
  .product-image {
    height: 75% !important;
    img {
      padding-top: -50px !important;
    }
  }

  .product-details {
    height: 25% !important;

    .product-main-details {
      .bag-type {
        font-size: 12px !important;
      }
  
      .bag-name {
        font-size: 16px !important;
      }
  
      .color-box {
        width: 10px !important;
        height: 10px !important;
      }
  
    }
  
    .product-price {
      bottom: 5px !important;
      right: 5px !important;
  
      .price {
        font-size: 18px !important;
      }
  
      .value {
        font-size: 14px !important;
      }
    }
  }

}

@media screen and (min-width: 728px) and (max-width: 884px ) {
  .product-image {
    height: 75% !important;
    img {
      padding-top: -50px !important;
    }
  }

  .product-details {
    height: 25% !important;

    .product-main-details {
      .bag-type {
        font-size: 12px !important;
      }
  
      .bag-name {
        font-size: 16px !important;
      }
  
      .color-box {
        width: 10px !important;
        height: 10px !important;
      }
  
    }
  
    .product-price {
      bottom: 5px !important;
      right: 5px !important;
  
      .price {
        font-size: 18px !important;
      }
  
      .value {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 728px )  { 
  .product-image {
    height: 70% !important;
    img {
      padding-top: -50px !important;
    }
  }

  .product-details {
    height: 30% !important;

    .product-main-details {
      .bag-type {
        margin: 5px 0 0 10px !important;
        font-size: 10px !important;
      }
  
      .bag-name {
        margin: 0 0 0 10px !important;
        font-size: 16px !important;
      }
  
      .color-box {
        margin: 10px 0 0 10px !important;
        width: 9px !important;
        height: 9px !important;
      }
  
    }
  
    .product-price {
      bottom: 3px !important;
      right: 3px !important;
  
      .price {
        font-size: 18px !important;
      }
  
      .value {
        font-size: 12px !important;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .product-image {
    height: 70% !important;
    img {
      padding-top: -50px !important;
    }
  }

  .product-details {
    height: 30% !important;

    .product-main-details {
      .bag-type {
        margin: 5px 0 0 10px !important;
        font-size: 10px !important;
      }
  
      .bag-name {
        margin: 0 0 0 10px !important;
        font-size: 16px !important;
      }
  
      .color-box {
        margin: 10px 0 0 10px !important;
        width: 10px !important;
        height: 10px !important;
      }
  
    }
  
    .product-price {
      bottom: 5px !important;
      right: 5px !important;
  
      .price {
        font-size: 20px !important;
      }
  
      .value {
        font-size: 14px !important;
      }
    }
  }
}