.background {
    background-image: url('./../assets/images/background/contact-backgroun.png');
    height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overscroll-behavior: none !important;
}