:host {
  display: block;
}

.banner {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: 550px;
  max-height: 550px;
  background-image: url("../../../assets/images/banners/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1;
  left: 1;
  padding: 120px 0 120px 90px;
}

.banner-text-h1 {
  color: #FFF;
  font-family: 'Mulish', 'sans-serif';
  font-size: 68px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.bold {
  font-weight: 100 !important;
}

.dota-new-collection-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 49px;
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 35px;
  cursor: pointer;

  .dota-button-text {
    color: #FF8438;
    font-family: 'Mulish', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

}

.dota-new-collection-button-phone {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.45);
  border-radius: 15px;
  margin: 10px 20px;
  cursor: pointer;

  .dota-button-text {
    color: white;
    font-family: 'Mulish', 'sans-serif';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

}

.bags-section {
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dota-product-xl, .all-bags {
    flex: 0 1 calc(25% - 16px);
    margin-right: 16px;
  }

  .dota-product-l {
    flex: 0 1 calc(33% - 16px);
    margin-right: 16px;
  }

  .dota-product-s, .all-bags {
    flex: 0 1 calc(45% - 8px);
    margin-right: 16px;
  }

  .all-bags:last-child {
    margin-right: 0;
    flex: 0 1 calc(33% - 16px);
  }
  
}



.all-bags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .show-all-bags {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.8156862745);
    border: 3px solid rgba(128, 128, 128, 0.404);
    cursor: pointer;


    .title {
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 42px;

      b {
        font-weight: 500;
      }

    }

    .button {
      text-align: end;
      padding-right: 42px;
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  } 

  .all-bags-image {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .all-bags-image-item {
      background-color: white;
      width: 48%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      justify-content: space-between;
  
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
  
    }
  
  }

}


@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .show-all-bags {
    .title {
      font-size: 24px !important;
      padding-left: 25px !important;
    }

    .button {
      font-size: 18px !important;
      padding-right: 25px !important;
    }
  } 
}


@media screen and (min-width: 768px ) and (max-width: 1200px)  {
  .banner { 
    height: 300px;
    margin-top: 80px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 1;
    padding: 40px 0 35px 20px;
  }
  
  .banner-text-h1 {
    font-size: 48px;
  }

  .dota-new-collection-button-phone {
    width: 200px;
    height: 50px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 40px;
    margin: 20px 45px;
  
    .dota-button-text {
      font-size: 20px !important;
    }
  
  }

  .show-all-bags {
    .title {
      font-size: 18px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 14px !important;
      padding-right: 15px !important;
    }
  } 

}

@media screen and (min-width: 482px) and (max-width: 767px )  { 
  
  .banner {
    width: 100vw;
    height: 100vh !important;
    margin-top: 50px !important;
    max-height: 550px;
    background-image: url("../../../assets/images/banners/banner-mobile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 1;
    padding: 40px 0 35px 20px;
  }
  
  .banner-text-h1 {
    font-size: 28px;
  }

  .dota-new-collection-button-phone {
    width: 150px;
    height: 35px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 20px;
    margin: 15px 30px;
  
    .dota-button-text {
      font-size: 16px !important;
    }
  
  }

  .show-all-bags {
    .title {
      font-size: 15px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 12px !important;
      padding-right: 15px !important;
    }
  } 
  
}


@media screen and (max-width: 480px) {

  .banner {
    margin-top: 40px;
    width: 100vw;
    height: 100vh !important;
    max-height: 550px;
    background-image: url("../../../assets/images/banners/banner-mobile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 1;
    padding: 10px 0 35px 20px;
  }
  
  .banner-text-h1 {
    font-size: 24px;
  }

  .dota-new-collection-button-phone {
    width: 150px;
    height: 35px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 20px;
    margin: 15px 30px;
  
    .dota-button-text {
      font-size: 16px !important;
    }
  
  }

  .show-all-bags {
    height: 40% !important;
    width: 97% !important;

    .title {
      font-size: 14px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 10px !important;
      padding-right: 15px !important;
    }
  } 

  .all-bags-image {
    height: 55% !important;
    justify-content: space-between !important;

    .all-bags-image-item {
      width: 48% !important;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
      }
  
    }
  
  }

  .all-bags:last-child {
    margin-right: 0;
    flex: 0 1 calc(55% - 8px) !important;
  }
  
}