:host {
  display: block;
}

.banner {
  position: relative;
  width: 100%;
  height: 650px;
  max-height: 650px;
  background-image: url("../../../assets/images/banners/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-dark-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1;
  left: 1;
  padding: 120px 0 120px 90px;
}

.banner-text-h1 {
  color: #FFF;
  font-family: 'Mulish', 'sans-serif';
  font-size: 68px;
  font-style: normal;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.typewriter-text {
  font-family: 'Arial', sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.bold {
  font-weight: 100 !important;
  font-size: 38px;
}

.dota-new-collection-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 49px;
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.5s;

  .dota-button-text {
    color: #FF8438;
    font-family: 'Mulish', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

}

.dota-new-collection-button-phone {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.45);
  border-radius: 15px;
  margin: 10px 20px;
  cursor: pointer;

  .dota-button-text {
    color: white;
    font-family: 'Mulish', 'sans-serif';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

}

.bags-section {
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dota-product-xl, .all-bags {
    flex: 0 1 calc(25%);
    margin-right: 12px;
  }

  .dota-product-l {
    flex: 0 1 calc(33%);
    margin-right: 8px;
  }

  .dota-product-s, .all-bags {
    flex: 0 1 calc(45%);
    margin-right: 8px;
  }

  .all-bags:last-child {
    margin-right: 0;
    flex: 0 1 calc(33% - 16px);
  }

}

.all-bags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .show-all-bags {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.32);
    transition: 5s;
    cursor: pointer;


    .title {
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 42px;

      b {
        font-weight: 500;
      }

    }

    .button {
      text-align: end;
      padding-right: 42px;
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

    &:hover {
      animation: colorChange 4s infinite alternate;
    }
  }

  .all-bags-image {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .all-bags-image-item {
      background-color: white;
      border: 1px solid rgba(211, 211, 211, 0.25);
      width: 48%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;

        &:hover {
          transform: scale(1.2);
        }
      }

    }

  }

}

.ideas-for-stylish {
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stylish-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    .stylish-normal {
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 48px;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 20px 40px;
    }

    .stylish-custom {
      font-family: 'Nothing You Could Do', cursive;
      text-align: end;
      color: #1B3669;
      font-size: 58px;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 40px 20px 0;
    }
  }

  .stylish-image {
    width: 30%;

    img {
      width: 80%;
      height: 100%;
      display: block;
      margin: auto;
    }
  }

}

.ideas-for-stylish-sm {
  .stylish-text-sm {
    .stylish-normal-sm{
      text-align: center;
      color: #000C22;
      font-family: 'Mulish', 'sans-serif';
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .stylish-custom-sm{
      color: #1B3669;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .stylish-image-sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    .image-sm {
      width: 46%;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.image-slider {
  padding-top: 50px;
  height: fit-content;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 30s linear infinite;
  will-change: transform;
}

.slide {
  height: max-content;
  width: 450px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

  img {
    width: 100%;
    transition: transform 0.3s;
    will-change: transform;
  }

  img:hover {
    transform: scale(1.10);
  }
}

.end-stylish-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .stylish-custom {
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    color: #1B3669;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
}

.stylish-custom.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1B3669;
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #1B3669; }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}

@keyframes colorChange {
  0%{
    background: rgba(255, 255, 255, 0.4);
  }
  20% {
    background-color: #904c9c46; /* Početna boja */
  }
  40% {
    background-color: #d051e646; /* Početna boja */
  }
  60% {
    background-color: #ff843846; /* Srednja boja */
  }
  80% {
    background-color: #d051e646; /* Početna boja */
  }
  100% {
    background-color: #904c9c46; /* Krajnja boja */
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .show-all-bags {
    .title {
      font-size: 24px !important;
      padding-left: 25px !important;
    }

    .button {
      font-size: 18px !important;
      padding-right: 25px !important;
    }
  }
}


@media screen and (min-width: 768px ) and (max-width: 1200px)  {
  .banner {
    height: 300px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 1;
    padding: 40px 0 35px 20px;
  }

  .banner-text-h1 {
    font-size: 48px;
  }

  .dota-new-collection-button-phone {
    width: 200px;
    height: 50px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 40px;
    margin: 20px 45px;

    .dota-button-text {
      font-size: 20px !important;
    }

  }

  .show-all-bags {
    .title {
      font-size: 18px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 14px !important;
      padding-right: 15px !important;
    }
  }

  .ideas-for-stylish {
    .stylish-text {
      width: 30% !important;
      .stylish-normal {
        font-size: 30px !important;
        margin: 0 0 30px 20px !important;
      }

      .stylish-custom {
        font-size: 36px !important;
        margin: 0 20px 30px 0 !important;
      }
    }

    .stylish-image {
      width: 35% !important;
    }

  }

}

@media screen and (min-width: 481px) and (max-width: 767px )  {
  .bags-section {
    max-height: 464px !important;
  }

  .banner {
    height: 100vh !important;
    max-height: 550px !important;
    background-image: url("../../../assets/images/banners/banner-mobile-2.jpeg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
  banner-tex
  .banner-dark-wrapper {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1;
    left: 1;
    padding: 40px 0 35px 20px;
  }

  .banner-text-h1 {
    font-size: 48px;
  }

  .dota-new-collection-button-phone {
    width: 170px;
    height: 40px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 20px;
    margin: 30px 60px !important;

    .dota-button-text {
      font-size: 18px !important;
    }

  }

  .show-all-bags {
    .title {
      font-size: 15px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 12px !important;
      padding-right: 15px !important;
    }
  }

  .ideas-for-stylish-sm {
    .stylish-text-sm {
      .stylish-normal-sm{
        font-size: 28px !important;
      }
      .stylish-custom-sm{
        font-size: 30px !important;
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0); /* Početna pozicija */
    }
    100% {
      transform: translateX(calc(-250px * 18)); /* Pomera sve slide-ove na levo */
    }
  }

  .image-slider {
    padding-top: 50px;
    height: 550px;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden; /* Sakriva elemente izvan slidera */
  }

  .slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
    will-change: transform; /* Optimizuje prformanse */
  }

  .image-slider {
    padding-top: 30px;
  }

  .slide {
    height: fit-content;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;

    img {
      width: 100%;
      transition: transform 0.3s;
      will-change: transform;
    }

    img:hover {
      transform: scale(1.05); /* Bolje optimizovan hover efekt */
    }
  }

}


@media screen and (max-width: 480px) {
  .bags-section {
    max-height: 340px !important;
  }

  .banner {
    width: 100vw;
    height: 100vh !important;
    max-height: 550px;
    background-image: url("../../../assets/images/banners/banner-mobile-3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banner-dark-wrapper {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 0 0 35px 20px;
  }

  .banner-text-h1 {
    font-size: 44px;
    line-height: 25px !important;

    .bold {
      font-size: 22px;
    }
  }

  .dota-new-collection-button-phone {
    width: 180px;
    height: 45px;
    background-color: rgba(235, 235, 235, 0.45);
    border-radius: 30px;
    margin: 30px 15px !important;

    .dota-button-text {
      font-size: 16px !important;
    }

  }

  .show-all-bags {
    height: 50% !important;
    width: 100% !important;

    .title {
      font-size: 14px !important;
      padding-left: 15px !important;
    }

    .button {
      font-size: 10px !important;
      padding-right: 15px !important;
    }
  }

  .all-bags-image {
    height: 45% !important;
    justify-content: space-between !important;

    .all-bags-image-item {
      width: 48% !important;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }

  .all-bags:last-child {
    margin-right: 0;
    flex: 0 1 calc(55% - 8px) !important;
  }

  .ideas-for-stylish-sm {
    .stylish-text-sm {
      .stylish-normal-sm{
        font-size: 26px !important;
        letter-spacing: 1.5px !important;
      }
      .stylish-custom-sm{
        font-size: 28px !important;
      }
    }
  }

  .image-slider {
    padding-top: 20px;
  }

  .slide-track {
    width: calc(150px * 18); /* Još manja širina slika */
  }

  .slide {
    width: 300px; /* Još manja širina slajdova */
  }

  img {
    width: 100%; /* Obezbedi da slike zauzimaju celokupnu širinu slajda */
  }

}

@media screen and (min-width: 360px) and (max-width: 400px) {
  .bags-section {
    max-height: 340px !important;
  }
  .ideas-for-stylish-sm {
    .stylish-text-sm {
      .stylish-normal-sm {
        font-size: 20px !important;
        letter-spacing: 1.5px !important;
      }
      .stylish-custom-sm{
        font-size: 22px !important;
      }
    }
  }

  .image-slider {
    padding-top: 20px;
  }

  .slide-track {
    width: calc(150px * 18); /* Još manja širina slika */
  }

  .slide {
    width: 300px; /* Još manja širina slajdova */
  }

  img {
    width: 100%; /* Obezbedi da slike zauzimaju celokupnu širinu slajda */
  }
}
