<div class="banner"> 
    <div class="banner-dark-wrapper">
        <div class="banner-content">
            <h1 class="banner-text-h1">NOVA <span class="bold">DOTA <br>KOLEKCIJA</span></h1>
            @if(!isPhone && !isTablet) {
                <div (click)="addToShoppingCart()" class="dota-new-collection-button">
                    <span class="dota-button-text">KUPI SADA</span>
                    <svg style="padding-left: 20px;" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                        <path d="M0.773686 6H15.8494" stroke="#FF8438" stroke-width="1.5"/>
                        <path d="M10.8232 0.998043L15.8485 5.99853L10.8232 11" stroke="#FF8438" stroke-width="1.5"/>
                    </svg>
                </div>
            }
        </div>
        @if(isPhone || isTablet) {
            <div (click)="addToShoppingCart()" class="dota-new-collection-button-phone">
                <span class="dota-button-text">KUPI SADA</span>
                <svg style="padding-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                    <path d="M0.000492475 6.00195H15.0763" stroke="white" stroke-width="1.5"/>
                    <path d="M10.0498 0.99902L15.0751 5.99951L10.0498 11.001" stroke="white" stroke-width="1.5"/>
                </svg>
            </div>
        }
    </div>
</div>
<br><br>
<section class="container-fluid">
    <h1 class="main-title" *ngIf="!isPhone">Torbe</h1>
    <div class="bags-section">
        @if(!isPhone && !isTablet) {
            @for (product of products; track product.id; let index = $index) {
                @if(index <= 2) {
                    <dota-product class="dota-product-xl" [product]="product"></dota-product>
                }
            } @empty {
                Empty list of users
            }
            <div class="all-bags">
                <div class="show-all-bags">
                    <h3 class="title">Prikazi sve <br><b>Torbice</b></h3>
                    <p class="button">Pogledaj 
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                            <path d="M0.000978281 6.00098H15.001" stroke="#000C22" stroke-width="1.5"/>
                            <path d="M10 0.99902L15 5.99951L10 11.001" stroke="#000C22" stroke-width="1.5"/>
                        </svg>
                    </p>
                </div>
                <div class="all-bags-image">
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                </div>
            </div>
        } @if(isTablet && !isPhone){
            @for (product of products; track product.id; let index = $index) {
                @if(index <= 1) {
                    <dota-product class="dota-product-l" [product]="product"></dota-product>
                }
            } @empty {
                Empty list of users
            }
            <div class="all-bags">
                <div class="show-all-bags">
                    <h3 class="title">Prikazi sve <br><b>Torbice</b></h3>
                    <p class="button">Pogledaj 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 17 12" fill="none">
                            <path d="M0.000978281 6.00098H15.001" stroke="#000C22" stroke-width="1.5"/>
                            <path d="M10 0.99902L15 5.99951L10 11.001" stroke="#000C22" stroke-width="1.5"/>
                        </svg>
                    </p>
                </div>
                <div class="all-bags-image">
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                </div>
            </div>
        } @if(!isTablet && isPhone){
            @for (product of products; track product.id; let index = $index) {
                @if(index < 1) {
                    <dota-product class="dota-product-s" [product]="product"></dota-product>
                }
            } @empty {
                Empty list of users
            }
            <div class="all-bags">
                <div class="all-bags-image">
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                    <div class="all-bags-image-item">
                        <img src="./assets/images/products/bags/test-product/product1.png" alt="Dota bag">
                    </div>
                </div>
                <div class="show-all-bags">
                    <h3 class="title">Prikazi sve <br><b>Torbice</b></h3>
                    <p class="button">Pogledaj 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 17 12" fill="none">
                            <path d="M0.000978281 6.00098H15.001" stroke="#000C22" stroke-width="1.5"/>
                            <path d="M10 0.99902L15 5.99951L10 11.001" stroke="#000C22" stroke-width="1.5"/>
                        </svg>
                    </p>
                </div>
            </div>
        }
    </div>
</section>
<br><br>
<section class="container-fluid">
    @if(!isPhone && !isTablet){
        <div class="ideas-for-stylish">
            <div class="stylish-text">
                <h1 class="stylish-normal">Ideas for</h1>
                <h1 class="stylish-custom">Stylish</h1>
                <h1 class="stylish-normal">Fun</h1>
            </div>
            <div class="stylish-image">
                <img src="./assets/images/presentation-images/mix-the-colors.png" alt="" srcset="">
            </div>
            <div class="stylish-image">
                <img src="./assets/images/presentation-images/silver-bold.png" alt="">
            </div>
        </div>
    } @else {
        <div class="ideas-for-stylish-sm">
            <div class="stylish-text-sm">
                <h1 class="stylish-normal-sm">Ideas for <span class="stylish-custom-sm">Stylish</span> Fun</h1>
            </div>
            <div class="stylish-image-sm">
                <div class="image-sm">
                    <img src="./assets/images/presentation-images/mix-the-colors.png" alt="" srcset="">
                </div>
                <div class="image-sm">
                    <img src="./assets/images/presentation-images/silver-bold.png" alt="">
                </div>
            </div>
        </div>
    }
</section>
<br><br><br><br>
<section class="container">
    <special-product></special-product>
</section>
<br><br><br><br>
<section class="container-fluid">
    @if(!isPhone && !isTablet){
        <div class="ideas-for-stylish">
            <div class="stylish-text">
                <h1 class="stylish-normal">Ideas for</h1>
                <h1 class="stylish-custom">Stylish</h1>
                <h1 class="stylish-normal">Fun</h1>
            </div>
            <div class="stylish-image">
                <img src="./assets/images/presentation-images/mix-the-colors.png" alt="" srcset="">
            </div>
            <div class="stylish-image">
                <img src="./assets/images/presentation-images/silver-bold.png" alt="">
            </div>
        </div>
    } @else {
        <div class="ideas-for-stylish-sm">
            <div class="stylish-text-sm">
                <h1 class="stylish-normal-sm">Ideas for <span class="stylish-custom-sm">Stylish</span> Fun</h1>
            </div>
            <div class="stylish-image-sm">
                <div class="image-sm">
                    <img src="./assets/images/presentation-images/mix-the-colors.png" alt="" srcset="">
                </div>
                <div class="image-sm">
                    <img src="./assets/images/presentation-images/silver-bold.png" alt="">
                </div>
            </div>
        </div>
    }
</section>
<br><br><br><br>