<div class="banner">
    <div class="banner-content">
        <h1 class="banner-text-h1">NOVA <span class="bold">DOTA <br>KOLEKCIJA</span></h1>
        @if(!isPhone && !isTablet) {
            <div (click)="addToShoppingCart()" class="dota-new-collection-button" href="">
                <span class="dota-button-text">KUPI SADA</span>
                <svg style="padding-left: 20px;" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                    <path d="M0.773686 6H15.8494" stroke="#FF8438" stroke-width="1.5"/>
                    <path d="M10.8232 0.998043L15.8485 5.99853L10.8232 11" stroke="#FF8438" stroke-width="1.5"/>
                </svg>
            </div>
        }
    </div>
    @if(isPhone || isTablet) {
        <div (click)="addToShoppingCart()" class="dota-new-collection-button-phone" href="">
            <span class="dota-button-text">KUPI SADA</span>
            <svg style="padding-left: 15px;" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                <path d="M0.000492475 6.00195H15.0763" stroke="white" stroke-width="1.5"/>
                <path d="M10.0498 0.99902L15.0751 5.99951L10.0498 11.001" stroke="white" stroke-width="1.5"/>
            </svg>
        </div>
    }
</div>
<br><br>
<dota-product></dota-product>
<br><br>