<section class="container-fluid order-details">
  <h1 *ngIf="!isReservation" class="main-title">DODAJTE PODATKE ZA PORUČIVANJE</h1>
  <h1 *ngIf="isReservation" class="main-title">DODAJTE PODATKE ZA REZERVACIJU</h1>
  <hr color="grey">
  <section class="flex">
    <div class="form-section">
      <form [formGroup]="deliveryForm" (ngSubmit)="!isReservation ? onSubmit() : onReservationSubmit()">
        <input class="custom-input" type="text" placeholder="Ime i prezime" formControlName="fullName">
        <input class="custom-input" type="email" placeholder="E-mail" formControlName="email">
        <div class="split-inputs">
          <div class="search-container w-48">
            <input class="custom-input" type="text" placeholder="Grad" formControlName="city">
            <div class="search-results" *ngIf="showResults">
              <div *ngFor="let result of cities" (click)="selectResult(result)">
                {{ result.city }}
              </div>
            </div>
          </div>
          <input class="custom-input w-48" type="text" placeholder="Poštanski broj" formControlName="postCode">
        </div>
        <div class="split-inputs">
          <div class="search-container w-48">
            <input class="custom-input" type="text" placeholder="Adresa i broj zgrade" formControlName="address">
          </div>
          <input class="custom-input w-48" type="text" placeholder="Broj stana" formControlName="placeNumber">
        </div>
        <input class="custom-input" type="tel" placeholder="Broj telefona" formControlName="phone">
        <textarea class="custom-textarea" placeholder="Poruka" formControlName="message"></textarea>
        <label class="checkbox-label">
          <input type="checkbox" formControlName="contactUs">
          <span>Slažem se da primam obaveštenja o popustima i novostima na moju adresu e-pošte.</span>
        </label>
        <section class="buttons">
          <button *ngIf="!isReservation" (click)="openShoppingCart()"  class="button go-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
              <path d="M17 6L2 6" stroke="#000000" stroke-width="1.5"/>
              <path d="M7 11L2 6L7 1" stroke="#000000" stroke-width="1.5"/>
            </svg>            
            <span>Vrati se u korpu</span>
          </button>
          <button *ngIf="isReservation" (click)="openShoppingPage()"  class="button go-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
              <path d="M17 6L2 6" stroke="#000000" stroke-width="1.5"/>
              <path d="M7 11L2 6L7 1" stroke="#000000" stroke-width="1.5"/>
            </svg>            
            <span>Vrati se u kupovinu</span>
          </button>
          <button *ngIf="!isReservation" type="submit" class="button make-order">
            <span>Poruči</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
              <path d="M0.000978281 6.00098H15.001" stroke="#ffffff" stroke-width="1.5"/>
              <path d="M10 0.99902L15 5.99951L10 11.001" stroke="#ffffff" stroke-width="1.5"/>
            </svg>
          </button>
          <button *ngIf="isReservation" type="submit" class="button make-order">
            <span>Pošalji rezervaciju</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
              <path d="M0.000978281 6.00098H15.001" stroke="#ffffff" stroke-width="1.5"/>
              <path d="M10 0.99902L15 5.99951L10 11.001" stroke="#ffffff" stroke-width="1.5"/>
            </svg>
          </button>
        </section>
      </form>
    </div>
    <div class="order-items">
      <div class="confirm-order">
        <div class="confirm-order-section">
            <h1 class="total">Total</h1>
            <ul class="items-list">
              <li class="item-detail" *ngFor="let item of shoppingCartItems">
                <span>{{ item.product.name }}</span>
                <span>{{ "X" + item.bagQuantity }}</span>
              </li>
            </ul>
            <div class="total-price">
                <p class="price">{{ totalPrice }}<span class="value">rsd</span></p>
            </div>
            <h3 class="delivery-fee">+ troškovi dostave</h3>
        </div>
        <div class="icon-info">
            <div class="delivery-time">
                <img src="./assets/images/icons/delivery-package.svg" alt="Delivery package">
                <span>dostava za<br>3 do 4 dana</span>
            </div>
            <samp class="line"></samp>
            <div class="delivery-price">
                <img src="./assets/images/icons/shipping.svg" alt="Delivery package">
                <span>poštarina od<br>350 do 360 rsd</span>
            </div>
        </div>
    </div>
    </div>
  </section>
</section>