:host {
  display: block;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  overscroll-behavior: none;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    width: 40px !important;
  }
}

