/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nothing+You+Could+Do&family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.loading-active {
  overflow: hidden;
}

.main-title {
  color: #000C22;
  font-family: 'Mulish', 'sans-serif';
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item {
  flex: 1;
  min-width: 200px;
  padding: 16px;
  text-align: center;
  margin: 10px;
}

.container {
  padding-right: 0;
  padding-left: 0;  
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;  
  margin-right: auto;
  margin-left: auto;
}


@media screen and (min-width: 768px ) and (max-width: 1200px)  {
  .main-title {
    font-size: 36px !important;
  }
}

@media screen and (min-width: 482px) and (max-width: 767px )  { 
  .section {
    padding: 0 20px; 
  }
  
  .main-title {
    font-size: 32px !important;
  }
}


@media screen and (max-width: 480px) {
  
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;  
    margin-right: auto;
    margin-left: auto;
  }

  .main-title {
    font-size: 26px !important;
  }
  
}
