<nav class="navigation row">
  @if(!isPhone) {
    <ul class="navigation-menu">
      <li>Pocetna</li>
      <li class="active">Torbe</li>
      <li>Novcanici</li>
      <li>Zene</li>
      <li>Muskarci</li>
    </ul>
  } @else {
    <div class="hamburger-menu">
      <dota-icon iconPath="./assets/images/icons/shopping-cart.svg?v=2" altText="Shopping cart"></dota-icon>
    </div>
  }
  
  <div class="logo">
    <img src="./../../../assets/images/logo/logo.svg" alt="logo image">
  </div>
  <div class="shopping-cart">
    <div class="cart">
      <dota-icon iconPath="./assets/images/icons/shopping-cart.svg?v=2" altText="Shopping cart"></dota-icon>
      <span *ngIf="count() > 0" class="badge">{{ count() }}</span>
    </div>
  </div>
</nav>
