:host {
  display: block;
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  max-height: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  fill: #fff;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.05));

  .navigation-menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 33%;

    li {
      color: #797979;
      font-family: 'Mulish', 'sans-serif';
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      margin: 0 10px;

      .line {
        border: 1px solid #EEE;
        font-size: 12px;
      }
    }
  }

  .logo {
    flex: 1;
    flex-shrink: 0;
    max-width: 33%;
    img {
      width: 200px;
      height: 63px;
    }
  }

  .shopping-cart {
    position: relative;
    display: flex;
    justify-content: end;
    flex: 1;
    flex-shrink: 0;
    max-width: 33%;

    .cart {
      margin-right: 40px;
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 50%;
      padding: 5px 8px;
    }

    .badge {
      color: #FFF;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      position: absolute;
      background-color: #FF8438;
      color: white;
      border-radius: 50%;
      padding: 6px 10px;
      font-weight: bold;
      margin-left: -20px;
      margin-top: -5px;
    }
  }
}

.active {
  color: #ff8438 !important;
}

.hamburger-menu {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: start;
  margin-left: 40px;
}

.dropdown-menu {
  position: absolute;
  min-width: 273px;
  top: 2;
  margin-top: 20px;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #E5E6E8;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  border: 1px solid #E5E6E8;
  background-color: white;

  ul {
    padding: 0 20px;
    text-align: left;
    font-family: 'Mulish', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .menu-line {
      color: #E5E6E8;;
    }

    li {
      list-style: none;
      padding: 16px 0 17px 11px;
      a {
        text-decoration: none;
        color: #797979;
      }
    }
  }
}


@media screen and (min-width: 768px ) and (max-width: 1200px)  {
  .logo {
    img {
      width: 150px !important;
      height: auto !important;
    }
  }
  
  .hamburger-menu {
    margin-left: 40px !important;
  }

  .shopping-cart {
    .cart {
      margin-right: 40px !important;
    }
    .badge {
      font-size: 10px !important;
    }
  }
}


@media screen and (max-width: 480px) {
  .logo {
    img {
      width: 86px !important;
      height: 27px !important;
    }
  }

  .hamburger-menu {
    margin-left: 20px !important;
  }
  
  .shopping-cart {
    .cart {
      margin-right: 20px !important;
      padding: 2px 5px !important;
    }
    .badge {
      font-size: 7px !important;
      padding: 2px 5px !important;
      margin-left: -10px !important;
      margin-top: -2px !important;
    } 
  }
}
