.order-message{
    padding-top: 120px;
    padding-bottom: 100px;

    .flex {
        display: flex;
        flex-direction: row;
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    .message {
        font-family: 'Mulish', 'sans-serif';
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.button {
    cursor: pointer;
    border: none;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;

    span {
      margin-left: 10px;
      font-family: 'Mulish', 'sans-serif';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }

  }

  .go-back {
    width: 250px;
    background-color: #f0f0f0;
    color: #121212;
  }